<!DOCTYPE html>
<html>
	<head>
		<title>The Alpha Munger</title>
		<link rel="stylesheet" type="text/css" href="static_url("style.css")">
	</head>

	<body>
		<h1>Your text</h1>
		<p>
			{% for line in change_lines %}
				{% for word in line %}
					{% if len(word) > 0 and word[0] in source_map %}
						<span class="changed" title="{{word}}">
							{{ choice(source_map[word[0]]) }}
						</span>
					{% else %}
						<span class="unchange" title="{{word}}">
							{{ word }}
						</span>
					{% end %}
				{% end %}
			{% end %}
		</p>
	</body>
</html>